<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Interval Training</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="allowButtons(exerciseQueue)" color="light" shape="round" size="large" (click)="onRefresh()">
        <ion-icon color="dark" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Interval Training</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-slides  #slides *ngIf="this.exerciseQueue.length > 0; else noExercise"  >
      <ion-slide *ngFor="let slide of this.exerciseQueue; index as i " class="full"  >
        <div class="flex">
          <div class="capitalize big-text" [ngClass]="getTextClass()">{{this.clockerService.intervalTimer.value}}</div>
          <h1 class="capitalize ">{{slide.name}}</h1>
          <h1 class="capitalize ">{{ (i+1) + "/" + (this.exerciseQueue.length)}}</h1>
        </div>
      </ion-slide>
    </ion-slides>
    <ng-template #noExercise>
      <div>
        <div class="flex">
          <div class="message ion-padding-vertical">
            <h2 class="capitalize ">Vamos começar!</h2>
            <p class="capitalize ">Adicione exércicios no menu lateral</p>
          </div>
          <ion-button color="dark" shape="round" size="large"  (click)="openSideMenu()" class="ion-hide-lg-up">
            <ion-icon color="light" name="rocket"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </div>
</ion-content>
<ion-footer>
  <ion-row class=" ion-padding-vertical ion-align-items-center ion-justify-content-center">

    <ion-button color="dark" shape="round" size="large" [disabled]="previousButton.disabled || !allowButtons(exerciseQueue) "  (click)="goPrevious()">
      <ion-icon color="light" name="play-skip-back"></ion-icon>
    </ion-button>
    <ng-container *ngIf="!clockerService.intervalTimer.isFinished; else isFinished">
      <ion-button *ngIf="clockerService.intervalTimer.isRunning" [disabled]="!allowButtons(exerciseQueue)" color="dark" shape="round" size="large" (click)="onPause()" >
        <ion-icon color="danger" name="pause"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!clockerService.intervalTimer.isRunning" [disabled]="!allowButtons(exerciseQueue)" color="dark" shape="round" size="large"  (click)="onPlay()">
        <ion-icon color="light" name="play"></ion-icon>
      </ion-button>
    </ng-container>
    <ng-template #isFinished>
      <ion-button color="light" shape="round" size="large" (click)="onRefresh()">
        <ion-icon color="dark" name="refresh"></ion-icon>
      </ion-button>
    </ng-template>
    <ion-button color="dark" shape="round" size="large" [disabled]="nextButton.disabled || !allowButtons(exerciseQueue)" (click)="goNext()">
      <ion-icon color="light" name="play-skip-forward"></ion-icon>
    </ion-button>
    
  </ion-row>
</ion-footer>