
ion-menu-button {
    color: var(--ion-color-primary);
  }
  ion-title{
    text-transform: capitalize;
  }
  
  #container {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #container strong {
    line-height: 26px;
  
  }
  .big-text{
    width: 100%;
    font-size:  calc(8em + 8vw);
    transition: all .5s;
  }
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  ion-slide.full{
    width: var(--ion-slide-width) !important
  }
  #container a {
    text-decoration: none;
  }
  
  ion-content ion-toolbar {
    --background: transparent;
  }
  ion-fab{
    flex-direction: row;
  }
  .exercise{
    color: green;
    transition: all .5s;
  }
  .delay{
    color: red;
    transition: all .5s;
  }
  .ion-padding-vertical{
      padding: 8px 0;
  }

  .blink{
    animation:  bounce 1s ease infinite;
  }
