<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [ngClass]="getAnimationClasses(null)">{{getTitle()}}</ion-title>
    <ion-buttons slot="end" *ngIf="buttonsController.exerciseModal.show" #exerciseModal
      [ngClass]="{'bounce': buttonsController.exerciseModal.animate}">
      <ion-button color="light" shape="round" size="large" [disabled]="buttonsController.exerciseModal.disabled"
        (click)="onOpenModalExercise()">
        <ion-icon color="dark" name="barbell"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div id="container">
    <ng-container *ngIf="exercisesService.exercises.length > 0; else noExercise">
      <ion-slides #slides>
        <ion-slide *ngFor="let slide of exercisesService.exercises; index as i " class="full" (ionSlideNextEnd)="goNext()" (ionSlideNextEnd)="goPrevious()">
          <div class="flex">
            <ion-button *ngIf="isDelayRunning(slide.counter)" (click)="onJumpToExercise()" color="dark" class="blink" >Jump to exercise</ion-button>
            <div class="capitalize big-text" [ngClass]="getAnimationClasses(slide)">{{slide.counter}}</div>
            <h1 class="capitalize ">{{slide.name}}</h1>
            <h1 class="capitalize ">{{ (i+1) + "/" + (exercisesService.exercises.length)}}</h1>
          </div>
        </ion-slide>
      </ion-slides>
    </ng-container>
    <ng-template #noExercise>
      <div>
        <div class="flex">
          <div class="message ion-padding-vertical">
            <h2 class="capitalize ">Let's start</h2>
            <p class="capitalize ">Click on the <b>
                <ion-icon name="barbell"></ion-icon>
              </b> to add exercises</p>
          </div>
        </div>
      </div>
    </ng-template>
    <ion-fab vertical="center" horizontal="start" slot="fixed" *ngIf="buttonsController.previous.show">
      <ion-fab-button color="dark" [disabled]="buttonsController.previous.disabled " (click)="goPrevious()">
        <ion-icon color="light" name="play-skip-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="center" horizontal="end" slot="fixed" *ngIf="buttonsController.next.show">
      <ion-fab-button color="dark" [disabled]="buttonsController.next.disabled" (click)="goNext()">
        <ion-icon color="light" name="play-skip-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
<div>

</div>

<ion-footer>

  <ion-row class=" ion-padding-vertical ion-align-items-end ion-justify-content-center">
    <ion-button *ngIf="buttonsController.restart.show" color="dark" shape="round" size="large"
      [disabled]="buttonsController.restart.disabled" (click)="onRefresh()">
      <ion-icon color="light" name="refresh"></ion-icon>
    </ion-button>
    <ion-button *ngIf="buttonsController.pause.show" [disabled]="buttonsController.pause.disabled" color="dark"
      shape="round" size="large" (click)="onPause()">
      <ion-icon color="danger" name="pause"></ion-icon>
    </ion-button>
    <ion-button *ngIf="buttonsController.play.show" [disabled]="buttonsController.play.disabled" color="dark"
      shape="round" size="large" (click)="onPlay()">
      <ion-icon color="light" name="play"></ion-icon>
    </ion-button>
    <ion-button *ngIf="buttonsController.stop.show" [disabled]="buttonsController.stop.disabled" color="dark"
      shape="round" size="large" (click)="onStop()">
      <ion-icon color="light" name="stop"></ion-icon>
    </ion-button>
  </ion-row>

</ion-footer>