.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    img{
        height: 32px;
        width: auto;

    }
}
ion-row{
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;;

    justify-content: center;
    ion-button{
        margin: 0.2rem .2rem;
    }
    page-break-after: always; /* New syntax */
    ion-avatar{
        margin-left: .2rem;
        height: 32px;
        width: 32px;
    }
}
#mercado-pago{
    margin-left: .2rem;
    height: 32px;
    width: 32px;
}
