<ion-list lines="none">
  <ion-item  *ngIf="isVolumeAllowed" >
    <ion-range min="0" max="100" color="primary" pin="true"   (ionChange)="onChangeVolume($event)" [(ngModel)]="volume">
      <ion-label slot="start">0%</ion-label>
      <ion-label slot="end">100%</ion-label>
    </ion-range>
  </ion-item>
  <ion-item *ngIf="!isVolumeAllowed">
    <ion-label>Sound</ion-label>
    <ion-toggle slot="end" color="success" [(ngModel)]="!isMuted" (ionChange)="onToggleMuted($event)"></ion-toggle>
  </ion-item>
</ion-list>