<ion-list >
    <ion-list-header >
      <ion-item lines="none" style="width: 100%;">
        <ion-label>
          Exercises 
        </ion-label>
        <ion-button (click)="onToggleReorder()" [disabled]="disabledReorder()"> 
          <span>Reorder : <b>{{isReordering ? 'ON' : 'OFF'}}</b></span>
          <span *ngIf="false">Confirm</span>
        </ion-button>
      </ion-item>
      <ion-buttons slot="end" class="ion-hide-lg-up" (click)="onPlay()">
        <ion-button color="dark">
          <ion-icon color="light" name="play" ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-list-header>
    <ng-container *ngIf="!exercisesService.exercises || !exercisesService.hasExercises();else hasExercise ">
      <ion-item>
        <ion-icon slot="start" name="barbell" *ngIf="!isReordering"></ion-icon>
        <ion-label>
          <ion-text color="primary">
            <h2>No exercise 😔 ( Squat )</h2>
          </ion-text>
          <ion-note >
            <p> ⏰ ( Duration ) </p>
            <p> 😫 ( Delay )</p>
          </ion-note>
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-template #hasExercise>
      <ion-reorder-group (ionItemReorder)="onReorder($event)" [disabled]="!isReordering">
        <ion-item  *ngFor="let exercise of exercisesService.exercises; index as i" lines="none" [ngStyle]="{'text-decoration': exercise.progress.finished ?  'line-through' : 'initial'}">
          <ion-icon slot="start" name="barbell" *ngIf="!isReordering"></ion-icon>
          <ion-reorder slot="start"></ion-reorder>
          <ion-label>
            <ion-text color="primary">
              <h2><b>{{i+1}} - </b>{{ exercise.name }}</h2>
            </ion-text>
            <ion-note >
              <p>Duration: {{exercise.duration ? exercise.duration : 0 }}s </p>
              <p>Delay: {{exercise.delay? exercise.delay : 0}}s</p>
            </ion-note>
          </ion-label>
         <ion-button shape="round" fill="clear" (click)="onDeleteExercise(exercise)" [disabled]="this.clockerService.intervalTimer.isRunning">
           <ion-icon slot="icon-only" color="danger"  name="trash" ></ion-icon>
          </ion-button> 
        </ion-item>
      </ion-reorder-group>
    </ng-template>
   
</ion-list>