<ion-list class="form-list">
  <ion-list-header>Add exercises</ion-list-header>
  <form [formGroup]="exercisesForm">
    <ion-item *ngIf="exercisesForm.get('name') as name">
      <ion-label color="primary" class="ion-text-capitalize">Name</ion-label>
      <ion-input autofocus="true" tabindex="1" formControlName="name" type="text" clearInput="true"
        (keypress)="onInput($event)"></ion-input>
    </ion-item>
    <ion-item *ngIf="exercisesForm.get('duration') as duration">
      <ion-label color="primary" class="ion-text-capitalize">Duration</ion-label>
      <ion-input pattern="[0-9]*" tabindex="2" formControlName="duration" type="number" inputmode="numeric"
        clearInput="true" (keypress)="onInput($event)"></ion-input>
    </ion-item>
    <ion-item *ngIf="exercisesForm.get('delay') as delay">
      <ion-label color="primary" class="ion-text-capitalize">Delay</ion-label>
      <ion-input pattern="[0-9]*" tabindex="3" formControlName="delay" type="number" inputmode="numeric"
        clearInput="true" (keypress)="onInput($event)"></ion-input>
    </ion-item>
  </form>
</ion-list>
<ion-item-divider class="divider-list">
  <ion-label>
    Exercises
  </ion-label>
</ion-item-divider>
<ion-list id="labels-list" class="overflow-auto">
  <ion-item *ngFor="let exercise of pagesServices.exercises" lines="none" [ngStyle]="{'text-decoration': exercise.progress.finished ?  'line-through' : 'initial'}">
    <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
    <ion-label>
      <ion-text color="primary">
        <h2>{{ exercise.name }}</h2>
      </ion-text>
      <ion-note >
        <p>Duration: {{exercise.duration ? exercise.duration : 0 }}s </p>
        <p>Delay: {{exercise.delay? exercise.delay : 0}}s</p>
      </ion-note>
    </ion-label>
    <ion-icon color="danger" slot="end" name="trash" (click)="onDelete(exercise)"></ion-icon>
  </ion-item>
</ion-list>