<ion-list >
    <ion-list-header class="header" >
      <ion-item lines="none" style="width: 100%;">
        <ion-label>
          Exercises <span *ngIf=" exercisesService.hasExercises(0)"> - <b >{{exercisesService.exercises.length}}</b></span>
        </ion-label>
        <ion-button (click)="onToggleReorder()" [disabled]="disabledReorder()"> 
          <span>Reorder : <b>{{isReordering ? 'ON' : 'OFF'}}</b></span>
          <span *ngIf="false">Confirm</span>
        </ion-button>
        <ion-button color="danger" fill="clear" shape="round" (click)="onClearExerciseList()" [disabled]="!exercisesService.hasExercises(0)"> 
         <ion-icon name="close" ></ion-icon>
        </ion-button>
      </ion-item>
      <ion-buttons slot="end" class="ion-hide-lg-up" (click)="onPlay()">
        <ion-button color="dark">
          <ion-icon color="light" name="play" ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-list-header>
    <ng-container *ngIf="!exercisesService.exercises || !exercisesService.hasExercises();else hasExercise ">
        <app-menu-item-skeleton [isReordering]="isReordering"></app-menu-item-skeleton>
    </ng-container>
    <ng-template #hasExercise>
      <ion-reorder-group (ionItemReorder)="onReorder($event)" [disabled]="!isReordering" class="list">
        <ng-container  *ngFor="let exercise of exercisesService.exercises; index as i"  >
            <app-menu-item-update *ngIf="exercise.controller.isEditing" [exercise]="exercise"  (onFinish)="onUpdateExercise($event)" (onCancel)="onDisableEditionMode(exercise)"></app-menu-item-update>
            <app-menu-item *ngIf="!exercise.controller.isEditing" [isReordering]="isReordering" [exercise]="exercise" [index]="i" (onEdit)="onEnableEditionMode(exercise)" (onDelete)="onDeleteExercise(exercise)"></app-menu-item>
        </ng-container>
      </ion-reorder-group>
    </ng-template>
   
</ion-list>