<ion-header>
  <ion-toolbar>
    <ion-title>Add Exercises</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="container__form">
    <form [formGroup]="exercisesForm" (ngSubmit)="onInput()">
      <ion-list-header>
        <ion-item lines="none" style="width: 100%;">
          <ion-label>
            Press 'Save' to add exercises
          </ion-label>
          <ion-button slot="end" type="submit" fill="outline">
            Save
          </ion-button>
      </ion-item> </ion-list-header>
     
        <ion-item *ngIf="exercisesForm.get('name') as name" class="autocomplete">
            <ion-searchbar
              (ionInput)="onSearch($event)"
              (ionFocus)="onFocus($event)"
              (ionBlur)="onBlur($event)"
              debounce=500
              placeholder="Name"
              formControlName="name"
              >
            </ion-searchbar>
           
          <!-- <ion-label color="primary" class="ion-text-capitalize">Name</ion-label>
          <ion-input tabindex="1" autocomplete="true" autocorrect="on" autocapitalize="on"  type="search" clearInput="true" (keyup.enter)="onInput()">
          </ion-input> -->
        </ion-item>
        <ion-item *ngIf="exercisesForm.get('duration') as duration">
          <ion-label color="primary" class="ion-text-capitalize">Duration</ion-label>
          <ion-input autocorrect="true" pattern="[0-9]*" tabindex="2" formControlName="duration" type="number" inputmode="numeric"
            clearInput="true" (keyup.enter)="onInput()"></ion-input>
        </ion-item>
        <ion-item *ngIf="exercisesForm.get('delay') as delay">
          <ion-label color="primary" class="ion-text-capitalize">Delay</ion-label>
          <ion-input autocorrect="true" pattern="[0-9]*" tabindex="3" formControlName="delay" type="number" inputmode="numeric"
            clearInput="true" (keyup.enter)="onInput()"></ion-input>
        </ion-item>

      </form>
    </ion-list>
    <ion-list *ngIf="exerciseListVisible">
      <ion-list-header>
        Exercise list
      </ion-list-header>
      <ion-item *ngIf="exerciseList.length == 0">
        <ion-label > Not found</ion-label>
      </ion-item>
      <ion-item *ngFor="let item of exerciseList" button (click)="onSelectedExercise(item)" style="text-transform: capitalize;" >
        <ion-icon slot="start" name="barbell"></ion-icon>
        <ion-label > {{item.name}}</ion-label>
       <ion-note slot="end">{{item.group}}</ion-note>
      </ion-item>
    </ion-list>
      <app-list *ngIf="!exerciseListVisible"></app-list>
</ion-content>