<ion-header>
  <ion-toolbar>
    <ion-title>Add Exercises</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="container__form">
    <form [formGroup]="exercisesForm" (ngSubmit)="onInput()">
      <ion-list-header>
        <ion-item lines="none" style="width: 100%;">
          <ion-label>
            Press 'Save' to add exercises
          </ion-label>
          <ion-button slot="end" type="submit" fill="outline">
            Save
          </ion-button>
        </ion-item>
      </ion-list-header>
      <ion-item *ngIf="exercisesForm.get('name') as name" class="autocomplete">
        <ion-searchbar (ionInput)="onSearch($event)" (ionFocus)="onFocus($event)" (ionBlur)="onBlur($event)"
          debounce=500 placeholder="Name" formControlName="name">
        </ion-searchbar>
      </ion-item>
      <ion-item *ngIf="exercisesForm.get('duration') as duration">
        <ion-label color="primary" class="ion-text-capitalize">Duration</ion-label>
        <ion-input autocorrect="true" pattern="[0-9]*" tabindex="2" formControlName="duration" type="number"
          inputmode="numeric" clearInput="true" (keyup.enter)="onInput()"></ion-input>
      </ion-item>
      <ion-item *ngIf="exercisesForm.get('delay') as delay">
        <ion-label color="primary" class="ion-text-capitalize">Delay</ion-label>
        <ion-input autocorrect="true" pattern="[0-9]*" tabindex="3" formControlName="delay" type="number"
          inputmode="numeric" clearInput="true" (keyup.enter)="onInput()"></ion-input>
      </ion-item>
    </form>
  </ion-list>
  <app-exercises-list *ngIf="exerciseListVisible" [list]="exerciseList" (onSelected)="onSelected(exercise)">ß</app-exercises-list>
  <app-menu-list *ngIf="!exerciseListVisible"></app-menu-list>
</ion-content>